<h1>The Coach says:</h1>
<p>
    <%= @reply %>
</p>
<p>
  You said... <br>
  <%= params[:answer] %>
</p>
<p>
  <%= link_to ask_path, class: 'btn btn-primary' do %>
   <i class="fa-regular fa-comments-question"></i> Ask a new question
  <% end %>
</p>
